<% if @participant.errors.any? %>
  <div  class="row">
    <div id="error_explanation" class="span10 offset1">
      <h2><%=t :please_fix_the_mistakes %></h2>

    </div>
  </div>
<% end %>

<div class="row">
  <%= form_for @participant, :url => "/events/#{@event.id}/register" do |f| %>
  <fieldset class="span10 offset1">
    <legend><%=t :registeration %></legend>
    <p><%=t :event_registeration_details %></p>

    <%= raw negative_captcha(@captcha) %>
    <div class="row">
      <div class="field span5 <% if @participant.errors.include? :first_name %>has_error<% end %>">
        <%= negative_label_tag(@captcha, :first_name, t("first_name") + ":") %><br>
        <%= negative_text_field_tag(@captcha, :first_name) %>
        <% if @participant.errors.include? :first_name %>
          <span class="text-error"><%= @participant.errors[:first_name][0] %></span>
        <% end %>
      </div>
      <div class="field span4 <% if @participant.errors.include? :last_name %>has_error<% end %>">
        <%= negative_label_tag(@captcha, :last_name, t("last_name") + ":") %><br>
        <%= negative_text_field_tag(@captcha, :last_name) %>
        <% if @participant.errors.include? :last_name %>
          <span class="text-error"><%= @participant.errors[:last_name][0] %></span>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="field span5 <% if @participant.errors.include? :email %>has_error<% end %>">
        <%= negative_label_tag(@captcha, :email, t("email") + ":") %><br>
        <%= negative_text_field_tag(@captcha, :email) %>
        <% if @participant.errors.include? :email %>
          <span class="text-error"><%=t @participant.errors[:email][0] %></span>
        <% end %>

      </div>
      <div class="field span4 <% if @participant.errors.include? :cell_phone %>has_error<% end %>">
        <%= negative_label_tag(@captcha, :cell_phone, t("cell_phone") + ":") %><br>
        <%= negative_text_field_tag(@captcha, :cell_phone) %>
        <% if @participant.errors.include? :cell_phone %>
          <span class="text-error"><%= @participant.errors[:cell_phone][0] %></span>
        <% end %>
        <span class="desc"><%=t :cell_phone_description %></span>
      </div>
    </div>
    <div class="actions">
      <%= submit_tag t(:register), :class => "btn btn-success btn-large" %>
    </div>
  </fieldset>
<% end %>
</div>
