<div class="row text-center">
    <h2><%=t :welcome %></h2>
    <h1><%= @days %></h1>
    </h5><%=t :ramaining_msg %></h5>
</div>

<%= form_for(@user) do |f| %>
<div class="box row">
  <div class="span6 offset3">
    <% flash.each do |key, value| %>
    <div class="text-<%= key %>"><%= value %></div>
    <% end %>

    <p><%=t :form_msg %></p>
    <%= f.text_field :email, placeholder: t(:email) + " ...", class: "span4", id: :email %>
    <%= f.submit t(:submit), class: "btn", id: "submit" %>

  </div>
</div>
<% end %>
