<section id="last-event">
  <div class="content">
    <div class="row">
      <div class="span10 offset1 event">
        <div class="row">
          <h2><%= @event.name %></h2><% if @event.finished? %><i class="icon icon-check 2x"></i> <span><%=t :been_held %></span><% end %>
        </div>
        <div class="row">
          <p class="span12 desc"><%= @event.description %></p>
        </div>
        <div class="row">
        <h4 class="span6"><%=t :time_string %>: <span dir="<%= @reverse_dir %>"><%= @event.datetime.to_s(:db).to_persian %></span></h4><br />
        <h4 class="span6"><%=t :address %>: <span><%= @event.address %></span></h4>
        </div>
      </div>
    </div>
  </div>
</section>
